<div id="wrapper_nav-bar">
  <ul class="nav-bar">
    <a routerLink="/films/1">
      <li class="nav-bar_links">films</li>
    </a>
    <a routerLink="/people/1">
      <li class="nav-bar_links">characters</li>
    </a>
    <a routerLink="/planets/1">
      <li class="nav-bar_links">planets</li>
    </a>
    <a routerLink="/species/1">
      <li class="nav-bar_links">species</li>
    </a>
    <a routerLink="/starships/1">
      <li class="nav-bar_links">starships</li>
    </a>
    <a routerLink="/vehicles/1">
      <li class="nav-bar_links">vehicles</li>
    </a>
  </ul>
</div>